*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url(https://previews.123rf.com/images/evorona/evorona1702/evorona170200027/71386693-digital-conceptual-image-circuit-microchip-on-dark-blue-background-for-branding-graphic-design-wallp.jpg);
}

.words {
    align-content: center;
    justify-content: center;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
    outline: none;
    display: flex;
}

.words>span {
    font-size: 3.3rem;
    font-weight: bolder;
    display: inline-block;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 5vw;
    color: rgb(28, 247, 217);
    border: 1px solid aquamarine;
    border-style: groove;
    border-radius: 1rem;
    border-color: rgb(15, 135, 214);
    border-width: 0.75rem;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.calculator-grid>button:hover {
    background-color: rgba(28, 247, 217, 0.75);
    color: black;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-style: groove;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    border-color: rgb(15, 135, 214);
    border-width: 0.75rem;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 5vw;
}

.output .current-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 7vw;
}